.contactRightMainDiv{
    background-color: #ffffff;
    height: 100%;
    /* button #debf79 */
}
.contactRightMainDiv{
    justify-content: flex-end;
    display: flex;
    padding: 66px;
}
.btnClass{
    background: #debf79 !important;
    border-color: #debf79 !important;
}
.btnClass2{
    background: #debf79 !important;
    border-color: #debf79 !important;
    
}
.submitBtnDiv{
    display: flex;
    justify-content: flex-start;
    margin-left: 195px;
    margin-top: 20px;
}
.headingTwoClass{
    font-family: "Poppins";
    display: flex;
    justify-content: flex-start;
}
.contentDiv{
    padding: 70px;
}
.inputFieldsClass{
    display: flex  !important;
    justify-content: flex-start !important;
    margin-bottom: 20px;
}
.textAreaClass{
    display: flex  !important;
    justify-content: flex-start !important;
    width: 85% !important;
}
@media only screen and (max-width: 600px) {
    .contentDiv{
        padding: 15px;
    }
    .contactRightMainDiv{
        display: none !important;
    }
    .submitBtnDiv{
        display: flex;
        justify-content: flex-start !important;
        margin-left: 195px;
        margin-top: 20px;
        margin-left: 100px;
    }
    .textAreaClass{
        display: flex  !important;
        justify-content: flex-start !important;
        width: 100% !important;
    }
}